.switch-box{
    display: flex;
    align-items: center;   
  }
  h5{
    font-size: 18px;
  }
  p{
    font-size: 14px;
  }
  .switch-item{
    width: 510px;
    background-color: #fafafa;
    border:1px solid #e8e8e8;
    border-radius: 4px;
    text-align: center;
    padding: 24px 0;
  }
  .switch-btn{
    text-align: center;
    flex: 1;
    margin:0 16px;
    
    
  }
  .switch-btn p{
    font-size: 14px;
    /* color: @font-color-main; */
    margin-bottom: 10px;
  }
  .switch-btn button{
    /* border-color: @theme-color;
    color: @theme-color; */
  }
  .coin-box{
    width: 64px;
    height: 64px;
    line-height: 64px;
    margin: 0 auto 16px;
    border-radius: 50%;
    font-size: 36px;
    color: #fff;
  }
  .coin-box.data-coin{
    /* background:linear-gradient(180deg,rgba(95,200,255,1) 0%,rgba(49,151,255,1) 100%); */
    background:rgba(95,200,255,1) 0%;
  }
  .coin-box.chain-coin{
    /* background:linear-gradient(180deg,rgba(251,210,73,1) 0%,rgba(245,166,35,1) 100%); */
    background:rgba(251,210,73,1) 0%;
  }